/* About_us.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.container {
    background-image: url("culuter.jpg"); /* Background image for the container */
    background-size: cover; /* Ensure the background image covers the entire container */
    background-position: center; /* Center the background image */
    color: rgba(163, 98, 23, 0.8); /* Text color with 80% opacity */
    padding: 20px; /* Add padding for better spacing */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a box shadow */
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    border: 2px solid rgb(228, 132, 13); /* Add border around the text box */
    padding: 20px; /* Add padding to the text box */
    text-decoration-color: rgb(228, 132, 13); /* Set text decoration color */
    text-shadow: 1px 1px 2px rgb(33, 22, 2); /* Add text shadow */
    background-color: white;
}

p {
    margin-bottom: 20px;
    line-height: 1.6;
}


h1 {
    text-decoration-color: rgb(228, 132, 13); /* Set text decoration color */
    text-shadow: 1px 1px 2px rgb(33, 22, 2); /* Add text shadow */
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    line-height: 1.6;
}

/* Apply styles to links */
a {
    color: rgba(233, 239, 246, 0.8); /* Link text color with 80% opacity */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
